@use "sass:color";
@import '../../styles/theme';

.adoption-form-container {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 3rem auto;
  font-family: var(--font-base);

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $primary-color;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  label {
    font-weight: 500;
    color: $accent-color;
    margin-bottom: 0.3rem;
  }

  input,
  select,
  textarea {
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: rgba(226, 222, 213, 0.6);
    color: $text-color;
    transition: all 0.2s ease-in-out;

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 5px rgba($primary-color, 0.5);
      outline: none;
    }
  }

  .radio-group {
    display: flex;
    gap: 20px;
    align-items: center;

    label {
      font-weight: 400;
      color: $text-color;
    }
  }

  .btn-submit {
    background-color: $primary-color;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 1rem;

    &:hover {
      background-color: white;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}
