@import '../../styles/theme';

.navbar-container {
  .mobile-toggle-btn {
    display: none;
  }
  background-color: $bg-color;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  .mobile-menu {
    display: none;
  }
  .navbar-brand {
    display: flex;
    align-items: start;

    .logo {
      width: 100px;
      margin-right: 150px;
    }
  }

  .navbar-nav {
    .nav-link {
      font-size: 0.95rem;
      margin: 0 8px;
      color: $text-color;

      &.active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

  .btn-ingresar {
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 0.85rem;
    color: $primary-color;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
    }
  }
}


@media (max-width: 992px) {
  .collapse.navbar-collapse {
    display: none !important;
  }

  .mobile-toggle-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;

    .line {
      width: 26px;
      height: 3px;
      background: $primary-color;
      margin: 5px 0;
      transition: 0.3s;

      &.open:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.open:nth-child(2) {
        opacity: 0;
      }
      &.open:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .mobile-menu {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    background: $bg-color;
    z-index: 9999;  
    padding: 1.5rem 1rem;
    transform: translateY(-120%);
    transition: 0.35s ease-in-out;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);

    &.show {
      transform: translateY(0);
          display: block;

    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 1rem 0;

        .nav-link {
          font-size: 1.1rem;
        }
      }
    }

    .btn-ingresar {
      background-color: $light-color;
      color: $primary-color;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
