@import '../../styles/theme';

.footer-container {
  background-color: $bg-color;
  padding: 2rem 1rem;
  border-top: 1px solid #eee;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);

  .footer-content {
    .footer-brand {
      .logo {
        width: 100px;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
        color: $text-color;
      }

      .social-icons {
        margin-top: 1rem;

        a {
          margin-right: 10px;
          font-size: 1.2rem;
          color: $text-color;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .footer-links {
        align-items: center;
      list-style: none;
      padding: 0;
      margin-top: 1.5rem;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      li {
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          font-size: 0.9rem;
          color: $text-color;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
